@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{ ViewData["Title"] = "Home Page"; }
<!-- Modal Trigger -->
@Html.AntiForgeryToken()
<br />
<div class="logbar">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await this.UserManager.GetUserAsync(User);
    <div class="chip">
        <img src="~/images/user.png" alt="@user.UserName">
        @user.UserName
    </div>
                    <a class="waves-effect waves-red btn-flat" id="logoutbtn">
            <i class="material-icons tiny " style="font-size:1rem ">person</i>  Logout
        </a>
    }
    else
    {
        <a class="waves-effect waves-red btn-flat modal-trigger" href="#modal1">
            <i class="material-icons tiny " style="font-size:1rem ">person</i>  Login
        </a>
        <a class="waves-effect waves-red btn-flat modal-trigger" href="">
            <i class="material-icons tiny" style="font-size:1rem">person_add</i> Register
        </a>
        }
    </div>
        <!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h2>Login</h2>
        <form id="#loginFormActive" class="col s12">
            <div class="row">
                <div class="input-field col s8">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="UserNameL" type="text" class="validate">
                    <label for="UserNameL">UserName</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <i class="material-icons prefix">keyboard_arrow_right</i>
                    <input id="PasswordL" type="password" class="validate">
                    <label for="PasswordL">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <p>
                        <input type="checkbox" id="rememberMeL" />
                        <label for="rememberMeL">Remember me?</label>
                    </p>
                </div>
                <div class="col s6 offset-s6">
                    <div id="result_Loginform"></div>
                </div>
            </div>
            <input type="button" class="btn" id="loginbtn" value="Login" />
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a class="active" href="#main">Play</a></li>
            <li class="tab col s3"><a href="#options">Options</a></li>
            <li class="tab col s3"><a href="#bestScores" id="bScoresButton">Best Scores</a></li>
            <li class="tab col s3"><a href="#lastSpins" id="btnClassement">Last spins</a></li>
        </ul>
    </div>
</div>
<br>
<div id="main">
    <div class="row">
        <div class="col s6 ">
            <h2>
                Credits
                <span id="chip" class="chip">
                </span>
            </h2> <br>
            <h2>
                Best Score
                <span id="highScore" class="chip" value>
                    0
                </span>
            </h2> <br>
            <h2>Gains</h2>
            <br>
            <table>
                <tr>
                    <td>
                        <img class="thumb" src="~/images/1.png">
                        <img class="thumb " src="~/images/1.png">
                        <img class="thumb " src="~/images/1.png">
                        <img class="thumb " src="~/images/1.png">
                    </td>
                    <td class="info"> <span id="all"></span> credits</td>
                </tr>
                <tr>
                    <td>
                        <img class="thumb" src="~/images/1.png">
                        <img class="thumb " src="~/images/1.png">
                        <img class="thumb " src="~/images/2.png">
                        <img class="thumb " src="~/images/2.png">
                    </td>
                    <td class="info"> <span id="doublePair"></span> credits</td>
                </tr>
            </table> <br>


            <h2>Bet</h2>
            <input type="number" min="1" name="bet" id="bet" value="1">
            <br><br>

        </div>
        <div class="col s6 items">
            <img class="slot full slot1" src="~/images/0.png">
            <img class="slot full slot2" src="~/images/1.png">
            <img class="slot full slot3" src="~/images/2.png">
            <img class="slot full slot4" src="~/images/3.png">
        </div>

    </div>
    <button id="control" class="but btn blue">Spin</button>
    <button id="save" class="but btn blue" data-target="saveScore">Save</button>
    <div id="LoginForm" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Login Form</h4>
            <form method="post" id="ajax_form_Login">
                <label for="userName">UserName:</label><br>
                <input type="text" id="userName" name="userName"><br>
                <label for="pass">Password:</label><br>
                <input type="password" id="pass" name="pass">
                <label for="cpass">Confirm Password:</label><br>
                <input type="password" id="cpass" name="cpass">
                <label for="rememberMe">Remember me?</label>
                <input type="checkbox" id="rememberMe">
                <input type="button" id="WithdrawButton" value="Login" />
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

</div>
<div id="options">
    <span class="labels">Volume</span> <br>
    <i class="material-icons dp48" id="change">volume_up</i><input style="width: 75%;" type="range" onchange="setVolume(); " id='vol' min=0 max=1 step=0.01 value='1'>
    <br>
</div>

<div id="bestScores" class="scores">
    <table id="TableBS" class="centered">
        <thead>
            <tr>
                <th>#</th>
                <th>UserName</th>
                <th>BestScore</th>
            </tr>
        </thead>
        <tbody id="userslist">
        </tbody>
    </table>

</div>
<div id="lastSpins">
    <table class="striped">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody id="value2">
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/js/BestUsersList.js" asp-append-version="true"></script>
    <script src="~/js/Logout.js" asp-append-version="true"></script>
    <script src="~/js/Login.js" asp-append-version="true"></script>
}